* {
    padding: 0;
    margin: 0;
}

body  {
    background: #ffdaac;
}

#viewport {
    display: block;
    margin: 0 auto;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
